<template>
    <div>
        <router-link class="uk-button uk-button-default" :to="{ name: 'home' }">KEMBALI</router-link>
        <form class="uk-form-horizontal uk-margin-large" @submit.prevent="store">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Tipe</label>
                <div class="uk-form-controls">
                    <select class="uk-select" v-model="model.tipe">
                        <option selected>Pengeluaran</option>
                        <option>Pemasukan</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Jumlah</label>
                <div class="uk-form-controls">
                    <vue-numeric class="uk-input" id="jumlah" v-model="model.jumlah" currency="Rp" separator="."></vue-numeric>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Keterangan</label>
                <div class="uk-form-controls">
                    <textarea class="uk-input" id="keterangan" v-model="model.keterangan"></textarea>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Tanggal</div>
                <div class="uk-form-controls">
                    <datetime input-class="uk-input" id="waktu" v-model="model.waktu" type="datetime" auto></datetime>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-controls">
                    <button class="uk-button uk-button-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import VueNumeric from 'vue-numeric';
    import { Datetime } from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css';

    export default {
        components: {
            VueNumeric,
            datetime: Datetime
        },
        data: function () {
            return {
                model: {
                    tipe: null,
                    jumlah: 0,
                    keterangan: null,
                    waktu: null   
                }
            }
        },
        methods: {
            pressKey: function(e) {
                this.reverse_text = e.target.value.split('').reverse().join('');
                document.getElementById('output').value = this.reverse_text;
            },
            store() {
                event.preventDefault();
                var app = this;
                // console.log(new Date(app.model.tanggal))
                this.$axios.post('keuangan', app.model)
                    .then(function (resp) {
                        app.$router.push({path: '/'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not data");
                    });
            }
        }
    }
</script>

<style>
#table {
    margin-bottom: 35px;
}
</style>
