<template>
    <div>
        <h3>HELLO WORLD !</h3>
        <p>This is my First Time Application using Laravel and <code>Vue JS</code>.</p>
        
        <h3>I/O</h3>
        <p>This Tools for documenting our contacts.</p>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider" id="table">
                <thead>
                    <tr>
                        <th class="uk-table-shrink"></th>
                        <th class="uk-table-expand">Name</th>
                        <th class="uk-table-expand">Telephone</th>
                        <th class="uk-width-small">Street Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        <td><input class="uk-checkbox" type="checkbox"></td>
                        <td class="uk-table-link">
                            <a class="uk-link-reset" href="">{{ user.name }}</a>
                        </td>
                        <td>{{ user.telephone }}</td>
                        <td class="uk-text-truncate">{{ user.street_address }}.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                users: [
                    {
                        name: 'Mochammad Rafi',
                        telephone: '089522718123',
                        street_address: 'Jalan Atlas VII no 11 RT 4 RW 13'
                    },
                    {
                        name: 'Alexandra',
                        telephone: '089522788842',
                        street_address: 'Jalan Soma XI RT 4 RW 2'
                    },
                    {
                        name: 'Wisnu Nugraha',
                        telephone: '085123877772',
                        street_address: 'Jalan Kencana VI no.2 RT 1 RW 15'
                    }
                ]
            }
        },
        methods: {
            pressKey: function(e) {
                this.reverse_text = e.target.value.split('').reverse().join('');
                document.getElementById('output').value = this.reverse_text;
            }
        }
    }
</script>

<style>
#table {
    margin-bottom: 35px;
}
</style>
