<template>
    <div>
        <h3>HELLO WORLD !</h3>
        <p>This is my First Time Application using Laravel and <code>Vue JS</code>.</p>
        
        <h3>I/O</h3>
        <p>This Tools for documenting our money.</p>
        <router-link class="uk-button uk-button-default uk-width-1-1 uk-margin-medium-bottom" :to="{ name: 'create' }">+ TAMBAH</router-link>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider" id="table">
                <thead>
                    <tr>
                        <th class="uk-table-shrink"></th>
                        <th class="uk-table-expand">TANGGAL</th>
                        <th class="uk-table-expand">JUMLAH</th>
                        <th class="uk-width-small">KETERANGAN</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="data.data && data.data.length > 0">
                        <tr v-for="value in data.data">
                            <td><input class="uk-checkbox" type="checkbox"></td>
                            <td class="uk-table-link">
                                <router-link  class="uk-link-reset" :to="{ name: 'edit', params: {id: value.id} }">{{ value.waktu | moment("DD, MMMM YYYY, hh:mm") }}</router-link>
                            </td>
                            <td>
                                <span class="uk-text-success" v-if="value.operator == 'Pemasukan'" >+ {{ value.jumlah | currency }}</span>
                                <span class="uk-text-danger" v-else>- {{ value.jumlah | currency }}</span>
                            </td>
                            <td class="uk-text-truncate" v-if="value.keterangan">{{ value.keterangan }}.</td>
                            <td class="uk-text-truncate" v-else>Tidak Ada Keterangan</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Jumlah Bulan Ini</td>
                            <td>{{ laporan | currency }}</td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="4" class="uk-text-center">Belum ada data keuangan</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <ul class="uk-pagination">
            <li v-if="data.prev_page_url"><router-link :to="{ name: 'home', query: {page: data.current_page - 1} }"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</router-link></li>
            <li class="uk-margin-auto-left" v-if="data.next_page_url"><router-link :to="{ name: 'home', query: {page: data.current_page + 1} }">Next <span class="uk-margin-small-left" uk-pagination-next></span></router-link></li>
        </ul>
    </div>
</template>

<script>
    import { Datetime } from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css';

    export default {
        components: {
            datetime: Datetime
        },
        data: function () {
            return {
                data: [],
                laporan: null,
                errors: [],
                tanggal: ''
            }
        },
        mounted() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                var page = this.$route.query.page;
                this.$axios.get('keuangan' + '?page=' + page)
                .then(response => {
                    this.data = response.data
                }).catch(e => {
                    this.errors.push(e)
                })
                
                this.$axios.get('keuangan/laporan/index')
                .then(response => {
                    this.laporan = response.data
                }).catch(e => {
                    this.errors.push(e)
                })
            },
            pushedData(page) {
                this.$router.push('/?page=' + page)
            },
            pressKey: function(e) {
                this.reverse_text = e.target.value.split('').reverse().join('');
                document.getElementById('output').value = this.reverse_text;
            }
        }
    }
</script>

<style>
#table {
    margin-bottom: 35px;
}
</style>
